.row.mt-5
  .col-sm-12.text-center
    %h4
      = t('suppliers_table.explore_supply_chain')
    %span.float-right.text-muted
      = t('suppliers_table.sourcing_from_factories')
      (
      %span#factory-count 0
      = t('suppliers_table.found')
    .table-responsive
      %table.table.table-sm.light-blue-bg.medium-grey
        %thead
          %tr.white-bg.table-borderless.text-center.border-bottom-0
            %th.border-bottom-0.blue-bg
            %th.border-bottom-0.text-uppercase{colspan: 2}= t('suppliers_table.number_of_workers')
            %th.border-bottom-0.text-uppercase{colspan: 2}= t('suppliers_table.wage')
            %th.border-bottom-0.text-uppercase{colspan: 3}= t('suppliers_table.workers')
          %tr.light-blue-bg.border-top-0.border-bottom-2
            %td.medium-blue-bg.border-0.text-uppercase= t('suppliers_table.company')
            %td= t('suppliers_table.female_male_other')
            %td= t('suppliers_table.permanent_temporary')
            %td.other-blue-bg= t('suppliers_table.average')
            %td.other-blue-bg= t('suppliers_table.gap')
            %td= t('suppliers_table.have_cba')
            %td= t('suppliers_table.know_brand')
            %td= t('suppliers_table.pregnancy_leave')
        %tbody