.row.mx-0.py-2
  .col-sm-4.pl-0= t('owned_by')
  .col-sm-8.pr-0
    %span._owned_by
= property t('headquarters'), :location
.row.border-top.mx-0.py-2
  .col-sm-4.pl-0
    = t('brands_owned_by')
    %span._owned_by
    = ":"
  .col-sm-8.pr-0#brands.list-unstyled
= property t('revenue'), :revenue, "EUR"
= property t('profit'), :profit, "EUR"
= property t('top_3_production_countries'), :top_production_countries