

// %script{ async: true, charset: "utf-8",
//          src: "https://platform.twitter.com/widgets.js" }


#brandBox
  .result

  .template._brand-item.brand-profile
    = section :navy do
      .row.brand.mx-0
        .col-sm-6
          %a._wikirate-link.h2.white{href: "replaced_by_js", target: "_wikirate" }
            %span._brand_name
          //.pt-4.logo-box
          //   %img._logo.logo{ src: "replace" }

        .col-sm-6.pl-1
          = brand_profile_partial :properties

      = brand_profile_partial :scores

    .text-center
      %p
        &nbsp;
      %a.btn.btn-primary{href: "https://cleanclothes.org/campaigns/filling-the-gap/fashion-checker-profiles"}
        = t('see_full_profiles')

#suppliers
  .result

  = brand_profile_partial :suppliers_table
