.row.mt-5.template
  .col-sm-12.text-center
    %h4
      = t('suppliers_table.explore_supply_chain')
    %p
      &nbsp;
    %span.float-right.text-muted

    .table-responsive
      %table#suppliersTable.table.table-sm.light-blue-bg.medium-grey
        %thead
          %tr.white-bg.table-borderless.text-center.border-bottom-0
            %th.border-bottom-0.text-left.text-uppercase.navy-bg.lighter-blue{colspan: 2}
              = t('suppliers_table.sourcing_from_factories')
            %th.border-bottom-0.text-uppercase{colspan: 2}= t('suppliers_table.wage')
            %th.border-bottom-0.text-uppercase{colspan: 3}= t('suppliers_table.workers')
          %tr.light-blue-bg.border-top-0.border-bottom-2
            %th.medium-blue-bg.border-0.text-left.text-uppercase= t('suppliers_table.company')
            %th.medium-blue-bg.border-0= t('country')

            %th.other-blue-bg= supplier_table_header :average
            %th.other-blue-bg= supplier_table_header :gap

            %th.light-blue-bg.border-0 Number
            %th.light-blue-bg.border-0 Gender
            %th.light-blue-bg.border-0 Contract
        %tbody
