%header
  #navbarHeader.collapse.red-bg
    .container
      .py-4.text-white
        .row.red-bg
          .col-sm-4
            %h4
              = t('learn_more')
            %ul.list-unstyled
              %li
                %a{:href => "living_wage.html"}
                  = t('menu_living_wage')
              %li
                %a{:href => "gender.html"}
                  = t('menu_gender')
              %li
                %a{:href => "transparency.html"}
                  = t('menu_transparency')

          .col-sm-4
            %h4
              = t('about')
            %ul.list-unstyled
              %li
                %a{:href => "about_us.html"}
                  = t('menu_about_fashion_checker')
              %li
                %a{:href => "our_demands.html"}
                  = t('menu_our_demands')
              %li
                %a{:href => "who_are_we.html"}
                  = t('menu_who_we_are')
              %li
                %a{:href => "methodology.html"}
                  = t('menu_methodology')
          .col-sm-4
            %a{:href => "take_action.html"}
              %h4
                = t('menu_take_action')


  .navbar.navbar-dark.red-bg.shadow-sm
    .container.d-flex.justify-content-between
      %a.navbar-brand.d-flex.align-items-center{:href => "./"}
        %img{src: "/images/CCC_FashionChecker_RGB_horizontal.svg",
        height: "50px", width: "auto"}
      %button.navbar-toggler{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon