%header#main-header
  #navbarHeader.collapse.navy-bg
    .container
      .py-4.text-white
        .row
          .col-sm-4
            %h4
              = t('about')
            %ul.list-unstyled
              %li
                %a{:href => "about_us.html"}
                  = t('menu_about_fashion_checker')
              %li
                %a{:href => "who_are_we.html"}
                  = t('menu_who_we_are')
              %li
                %a{:href => "methodology.html"}
                  = t('menu_methodology')
          .col-sm-4
            %h4
              = t('explore')
            %ul.list-unstyled
              %li
                %a{:href => "https://facilitychecker.org", :target => "_blank"}
                  = t('menu_facilitychecker')
 
          .col-sm-4
            %h4
              = t('take_action')
            %ul.list-unstyled
              %li
                %a{:href => "https://cleanclothes.org/donate", :target => "_blank"}
                  = t('menu_donate')



  .navbar.navbar-dark.red-bg.shadow-sm
    .container.d-flex.justify-content-between
      %a.navbar-brand.d-flex.align-items-center{:href => "./"}
        %img{src: "/images/CCC_FashionChecker_RGB_horizontal.svg",
        height: "50px", width: "auto"}
      %button.navbar-toggler{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
