.resource
  - if new_resource
    %strong.text-uppercase
      = "*#{t('new')}*"
  %a{ href: url }
    = t title
  - if desc || year
    \-
  - if desc
    = t(desc) + (year ? "," : "")
  - if year
    = year


