<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Fashion Checker" %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114920514-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114920514-1');
    </script>
    <!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://piwik.cleanclothes.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '9']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

    <meta property="og:title" content="<%= t('social_media_title') %>">
    <meta property="og:description" content="<%= t('social_media_description') %>">
    <meta property="og:image" content="<%= t('social_media_image') %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= t('social_media_title') %>">
    <meta name="twitter:description" content="<%= t('social_media_description') %>">
    <meta name="twitter:image" content="<%= t('social_media_image') %>">

    <%= stylesheet_link_tag "//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "select2.min" %>
    <%- #stylesheet_link_tag "select2-bootstrap4.min" %>
    <%= stylesheet_link_tag "site" %>


    <%= javascript_include_tag "jquery.min" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" %>

    <%= javascript_include_tag "select2.full.min" %>

    <%= javascript_include_tag "site" %>
    <%= javascript_include_tag "brand_info" %>
    <%= javascript_include_tag "brands_table" %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
