%header
  #navbarHeader.collapse.red-bg
    .container
      .row.red-bg
        .col-sm-8.col-md-7.py-4
          %h4.text-white
            = t('learn_more')
          %ul.list-unstyled
            %li
              %a.text-white{:href => "/living_wage.html"}
                = t('menu_living_wage')
            %li
              %a.text-white{:href => "/gender.html"}
                = t('menu_gender')
            %li
              %a.text-white{:href => "/transparency.html"}
                = t('menu_transparency')
            %li
              %a.text-white{:href => "/take_action.html"}
                = t('menu_take_action')
            //%li
            //  %a.text-white{:href => "/resources.html"}
            //    = t('menu_resources')

        .col-sm-4.offset-md-1.py-4
          %h4.text-white
            = t('about')
          %ul.list-unstyled
            %li
              %a.text-white{:href => "/about_us.html"}
                = t('menu_about_fashion_checker')
            %li
              %a.text-white{:href => "/our_demands.html"}
                = t('menu_our_demands')
            %li
              %a.text-white{:href => "/who_are_we.html"}
                = t('menu_who_we_are')
            %li
              %a.text-white{:href => "/methodology.html"}
                = t('menu_methodology')

  .navbar.navbar-dark.red-bg.shadow-sm
    .container.d-flex.justify-content-between
      %a.navbar-brand.d-flex.align-items-center{:href => "/"}
        %img{src: "images/CCC_FashionChecker_RGB_horizontal.svg",
        height: "50px", width: "auto"}
      %button.navbar-toggler{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon