%body
  = partial "partials/header"
  %main{:role => "main"}
    = banner "/images/about_us/top_banner.png", t('about_fashion_checker')
    = section :white do
      .middle-text
        %h3
          = t('about_the_campaign')
        .lead
          = t('a_living_wage_for_garment_workers')
        %p
          = t('brands_in_the_fashion_industry_put_millions_p1')
        %p
          = t('brands_in_the_fashion_industry_put_millions_p2')

    .top-extender.white-bg
      &nbsp;

    .navy-bg.skew-right
      .container-fluid.skew-left
        .container.py-5
          .py-5


            .p-4.my-3.yellow-bg
              .row
                .col-sm-6
                  .display-3.red
                    = t('a_living_wage')
                  .display-3.fuchsia
                    = t('for_all_workers')
                .col-sm-6.black
                  .lead
                    %p
                      = t('the_majority_of_garment_workers_unable_to_afford_necessities')
                    %p
                      = t('we_are_demanding_brands_to_pay_a_living_wage')
                    %a.btn.btn-primary.navy-btn{href: "https://cleanclothes.org/poverty-wages", target:"_blank"}
                      = t('find_out_more')

            .p-4.my-3.pink-bg
              .row
                .col-sm-6
                  .display-3.fuchsia
                    = t('a_spotlight')
                  .display-3.red
                    = t('on_the_bottom_of_the_supply_chain')
                .col-sm-6.black
                  .lead.pb-3
                    %p
                      = t('knowing_where_your_clothes_are_made')
                    %p
                      = t('we_demand_detailed_supply_chain_data')

                    %a.btn.btn-primary.navy-btn{href: "https://cleanclothes.org/unclear-supply-chains", target: "_blank"}
                      = t('find_out_more')

    .bottom-extender.navy-bg

    = section "high-z red" do
      .middle-text.text-center.white
        %h3
          = t('donate_to_the_campaign')

        .py-3
          .py-2
            = t('you_can_help_fund_this_campaign')
          .py-2
            = t('every_little_bit_helps')
          .py-2.pb-4
            = t('future_research_and_translations_of_our_data')

          %a.btn.btn-primary.navy-btn{href: "https://cleanclothes.org/donate", target: "_blank"}
            = t('donate')

    = partial "partials/shared/footer"