%body
  %script
    = score_translation_script
  = partial "partials/header"
  %main.brand{:role => "main"}
    = section :red do
      .row
        .col-sm-12.d-flex.justify-content-center
          .narrow.d-flex.flex-wrap.justify-content-center
            .text-center
              .span.display-3.yellow
                = t('explore')
              .span.display-3.pink
                = t('the_data')
              %p.lead.pt-3.font-weight-bolder
                = t('are_the_people_who_make_your_clothes_paid_enough_t')
            -#  %p.lead.font-weight-lighter
            -#    = t('find_out_which_apparel_and_footwear_brands_pay_the')
            -# =brand_profile_partial :search, locals: { redirect: true }

    .top-extender.red-bg
      &nbsp;

    .blue-bg.skew-left
      .container-fluid.skew-right
        .container.py-5.result-container
          = brand_profile_partial :result
          &nbsp;
    .bottom-extender.blue-bg

    .yellow-bg.skew-right
      .container-fluid.skew-left
        .container.py-5
          .display-3
            .red
              Supplier Map

          #supplierViz.py-4
            .result
            .template
              .supplierMap

    .bottom-extender.yellow-bg.extra-extender

    .fuchsia-bg.skew-left
      .container-fluid.skew-right
        .container.py-5
          .display-3.text-right
            .pink
              Supplier Wages

          #suppliers
            .result
            = brand_profile_partial :suppliers_table

    .bottom-extender.fuchsia-bg

    = commitment_modals "Public commitment", %w[No Partial Yes]
    = commitment_modals "Action plan", %w[No Partial Yes]
    = commitment_modals "Separate labor costs", %w[No Partial Yes], "isolating-labour-cost"

  = partial "partials/shared/footer"
