%body
  %script
    = score_translation_script
  = partial "partials/header"
  %main.brand{:role => "main"}
    = section :red do
      .row
        .col-sm-12.d-flex.justify-content-center
          .narrow.d-flex.flex-wrap.justify-content-center
            .text-center
              .span.display-3.yellow
                = t('explore')
              .span.display-3.pink
                = t('the_data')
              %p.lead.pt-3.font-weight-bolder
                = t('are_the_people_who_make_your_clothes_paid_enough_t')
              %p.lead.font-weight-lighter
                = t('find_out_which_apparel_and_footwear_brands_pay_the')
            =brand_profile_partial :search, locals: { redirect: true }
    = section :red, :blue do
      = brand_profile_partial :result

  = partial "partials/shared/footer"
