%body
  = partial "partials/shared/table_lang"
  %script
    = score_translation_script
  = partial "partials/header"
  %main.brand{:role => "main"}
    = brand_profile_partial :main, locals: { search: false }
  = partial "partials/shared/footer"
