%body
  = partial "partials/header"
  %main{:role => "main"}
    = banner "/images/gender/top_banner.png", t('gender_header_1')
    = section :white do
      .middle-text
        %h3
          = t('gender_header_1')
        .lead
          = t('gender_lead')
        %p
          = t('gender_influences')
        .red-quote
          = t('croatian_gender_quote')
          .citation
            = t('a_worker_from_croatia')
        %p
          = t('women_face_stress')
        %h3
          = t('low_wages')
        %p
          = t('when_looking_at_the_garment_sector')

        = image_quote "/images/gender/bangladeshi-women-factory_bg.png",
                      t('women_can_be_made_to_dance'), t('a_worker_from_bangladesh')

        %p
          = t('since_women_are_mainly_employed')
        %h3
          = t('gender_based_violence')
        %p
          = t('gender_based_violence_is_both_a_cause')
          %a{ href: "https://femnet.de/images/downloads/gbv/GBV_Stop-Violence_Report_BCWS-FEMNET-2020.pdf" }
            = t('gbv_in_bangladesh')
          = t('found_that_76_of_all')
        %p
          = t('despite_its_prevalence_in_the_garment_sector')

        %img{ src: "/images/gender/garment_labor_union.png" }
        %p
          = t('to_address_gender_based_violence_in_the_supply')
        %p
          = t('this_is_confirmed_by_the_evidence')
        .red-quote
          = t('indian_gender_quote')
          .citation
            = t('a_female_worker_from_india')
        %p
          = t('when_you_are_living_pay_check_to_pay_check')
        %p
          %a{ href: "https://cleanclothes.org/gender-discrimination" }><
            = t('gender')
          \.

    = partial "partials/shared/footer"
