%body
  = partial "partials/header"
  %main{:role => "main"}
    = section :red do
      .row
        .col-sm-12.col-md-6
          .display-3
            .text-white
              = t('header_question_1')
            .yellow
              = t('header_question_2')
          %p.pt-3.white.lead
            = t('find_out')
          = brand_profile_partial :search,  locals: { redirect: true }
        .d-none.d-md-block.col-md-6
          %img.float-right{src: "/images/logo/SVG/CCC_FashionChecker_RGB_vertical_spot.svg",
               height: "300px", width: "auto"}

    .top-extender.red-bg
      &nbsp;

    .pink-bg.skew-left
      .container-fluid.skew-right
        .container.py-5.result-container
          .p-4
            .row
              .col-sm-4
                %img.w-100{ src: "/images/homepage/pie_graph.svg" }
              .col-sm-8
                .display-3.red
                  93%
                .display-3.black
                  = t('of_surveyed_brands_aren_t_paying_garment_workers')

    .bottom-extender.pink-bg.extra-extender

    .fuchsia-bg.skew-right
      .container-fluid.skew-left
        .container.py-5.result-container
          .row
            .col-sm-6
              .w-50
                .span.display-3.yellow
                  = t('living_wages')
                .span.display-3.white
                  = t('not_poverty_wages')
            .col-sm-6
              .lead.white
                = t('living_wages_info')
              .py-3
                %a.btn.btn-primary.navy-btn{ href: "living_wage.html" }
                  = t('read_more_living_wages')
          = partial "partials/shared/living_wage_table"

    .bottom-extender.fuchsia-bg

    .high-z
      = banner "/images/homepage/textile_scene.png"

    = section :blue do
      %table#brands-table.w-100.table.table-sm.light-blue-bg.medium-grey
        %thead
          %tr
            %th Name
            %th Headquarters
            %th Transparency
            %th Living Wage
            %th Action Plan
            %th Public Commitment
            %th Separate Labor
        %tbody




    = section :yellow do
      .row
        .col-sm-6
          .w-50
            .span.display-3.red
              = t('end')
            .span.display-3.fuchsia
              = t('gendered_pay')
        .col-sm-6
          %p.red.lead
            = t('gendered_pay_info')
          %a.btn.btn-primary{href: "gender.html"}
            = t('gender')

    = section :red do
      .row
        .col-sm-6
          .w-75
            .span.display-3.white
              = t('resilience')
            .span.display-3.yellow
              = t('in_the_face_of_a_crisis')
        .col-sm-6.white
          %p.lead
            = t('resilience_info')
          %a.btn.btn-primary.navy-btn{ href: "our_demands.html" }
            = t('our_demands')

    .banner.trio-banner
      .banner-image
        %img{ src: "/images/homepage/trio.png" }
      .container
        .trio-text.quote
          = t('my_factory_doesn_t_give_me_a_pay_slip')
          .citation
            = t('a_worker_from_india')

    = section :navy do
      .row.pl-5
        .col-sm-6.voice-has-power
          %h3
            = t('your_voice_has_power')
          %p
            = t('your_voice_info_1')
            %span.fuchsia
              \#LivingWageNow
            = t('your_voice_info_2')
          %a.btn.btn-primary{ href: "take_action.html" }
            = t('take_action')
      .row.pt-5
        .col-4.p-4
          %img.w-100{ src: "/images/homepage/olympics.png" }
        .col-4.p-4
          %img.w-100{ src: "/images/homepage/h_m.png" }
        .col-4.p-4
          %img.w-100{ src: "/images/homepage/go_transparent.png" }

    = # partial "partials/homepage/news"

  = partial "partials/shared/footer"
