%body
  = partial "partials/header"
  %main{:role => "main"}
    = section :red, :pink do
      .row
        .col-sm-12.col-md-6
          .span.display-3.text-white
            = t('header_question_1')
          .span.display-3.yellow
            = t('header_question_2')
          %p.pt-3.white
            = t('find_out')
          = brand_profile_partial :search,  locals: { redirect: true }
        .d-none.d-md-block.col-md-6
          %img.float-right{src: "/images/logo/SVG/CCC_FashionChecker_RGB_vertical_spot.svg",
               height: "300px", width: "auto"}

    = section :pink, :fuchsia, "pb-5" do
      .container.p-4
        .row
          .col-sm-5
            %img{ src: "/images/homepage/pie_graph.svg" }
          .col-sm-7
            .display-3.red
              93%
            .display-3.black
              = t('of_surveyed_brands_aren_t_paying_garment_workers')


    = section :fuchsia, nil, "pb-5 pt-2" do
      .row
        .col-sm-6
          .span.display-3.yellow
            = t('living_wages')
          .span.display-3.white
            = t('not_poverty_wages')
        .col-sm-6
          .lead.white
            = t('living_wages_info')
          .py-3
            %a.btn.btn-primary.black-btn{ href: "living_wage.html" }
              = t('read_more_living_wages')
        = partial "partials/shared/living_wage_table"

    = section :yellow do
      .row
        .col-sm-6
          .span.display-3.red
            = t('end')
          .span.display-3.fuchsia
            = t('gendered_pay')
        .col-sm-6
          %p.red.lead
            = t('gendered_pay_info')
          %a.btn.btn-primary{href: "gender.html"}
            = t('gender')
    = section :red do
      .row
        .col-sm-6
          .span.display-3.white
            = t('resilience')
          .span.display-3.yellow
            = t('in_the_face_of_a_crisis')
        .col-sm-6.white
          %p.lead
            = t('resilience_info')
          %a.btn.btn-primary{ href: "our_demands.html" }
            = t('our_demands')
    = section :navy do
      .row
        .col-sm-6
          %h3
            = t('your_voice_has_power')
          %p
            = t('your_voice_info_1')
            %span.fuchsia
              \#LivingWageNow
            = t('your_voice_info_2')
          %a.btn.btn-primary{ href: "take_action.html" }
            = t('take_action')
    = # partial "partials/homepage/news"

  = partial "partials/shared/footer"


