%body
  = partial "partials/header"
  %main{:role => "main"}
    = banner "/images/methodology/top_banner.png", t('methodology')

    = section :white do
      .middle-text
        %h3
          = t('methodology_title')
        %p
          = t('methodology_paragraph_1')
        %p
          = t('methodology_paragraph_2A')
          %a{:href => "https://www.fashionrevolution.org/", :target => "_blank"}<> Fashion Revolution
          = t('methodology_paragraph_2B')
          %a{:href => "https://www.fashionrevolution.org/", :target => "_blank"}<> here
          \.
        %p
          = t('methodology_paragraph_3A') + " "
          %a{:href => "https://cleanclothes.org/", :target => "_blank"}<> Clean Clothes Campaign
          = t('methodology_paragraph_3B')
          %a{:href => "https://wageindicator.org/", :target => "_blank"} WageIndicator
          = t('methodology_paragraph_3C')
          %a{:href => "https://asia.floorwage.org/", :target => "_blank"} Asia Floor Wage
          = " " + t('methodology_paragraph_3D') + " "
          %a{:href => "https://cleanclothes.org/campaigns/europe-floor-wage", :target => "_blank"}<> Europe Floor Wage
          \.
        %p
          = t('methodology_paragraph_4A') + " "
          %a{:href => "https://opensupplyhub.org/", :target => "_blank"}<> Open Supply Hub
          = t('methodology_paragraph_4B')
          %a{:href => "https://wikirate.org/", :target => "_blank"} Wikirate
          \.
        %p
          = t('methodology_paragraph_5')
    = partial "partials/shared/footer"
