%body
  = partial "partials/header"
  %main{:role => "main"}
    = banner "/images/methodology/top_banner.png", t('methodology')

    = section :white do
      .middle-text
        %h3
          = t('methodology_title')
        %p
          = t('methodology_paragraph_1')
        %p
          = t('methodology_paragraph_2')
        %p
          = t('methodology_paragraph_3A') + " "
          %a{:href => "https://wikirate.org"}<> Wikirate
          = t('methodology_paragraph_3B')
          %a{:href => "https://info.openapparel.org/"} Open Apparel Registry
          = t('methodology_paragraph_3C')
          %a{:href => "https://opencorporates.com/"} OpenCorporates
          = " " + t('methodology_paragraph_3D') + " "
          %a{:href => "https://semcon.com/"}<> Semcon
          \.
    = partial "partials/shared/footer"
