%body
  = partial "partials/header"
  %main{:role => "main"}
    .top-banner
      .top-banner-image
        %img{ src: "/images/take_action/top_banner.png" }
      .top-banner-text.display-4
        = t('take_action')

    = section :pink do
      .middle-text
        .text-center
          .display-3.fushia
            = t('want_to_help_workers_fight_for')
          .display-3.red.pb-4
            = t('better_working_conditions')

        %h3.red-head
          = t('twitter_storm')
        %p
          = t('your_voice_matters_brands_are_highly')
        .text-center
          .py-2
            %a{ href: "https://twitter.com/intent/tweet?text=@bestsellerbe%20If%20your%20workers%20aren%27t%20earning%20a%20living%20wage%2C%20then%20the%20women%20in%20your%20%20supply%20chain%20are%20being%20abused.%20Don%27t%20violate%20her%20rights.%20%23endGBV%20and%20pay%20a%20%23LivingWageNow.", target: "_twitter" }
              %img{ src: "/images/take_action/tweet-bestseller.png" }
          .py-2
            %a{ href: "https://twitter.com/intent/tweet?text=@topshop%20How%20can%20you%20make%20promises%20about%20paying%20workers%20a%20living%20wage%20without%20collecting%20information%20on%20ALL%20workers%20in%20your%20supply%20chain%3F%20Put%20a%20spotlight%20on%20the%20bottom%20of%20your%20supply%20chain.%20%23GoTransparent%20and%20pay%20a%20%23LivingWageNow.", target: "_twitter" }
              %img{ src: "/images/take_action/tweet-topshop.png" }
          .py-2
            %a{ href: "https://twitter.com/intent/tweet?text=@Primark%20I%20don%27t%20want%20my%20clothes%20made%20with%20exploitation.%20A%20Living%20Wage%20is%20a%20human%20right.%20Commit%20to%20paying%20a%20%23LivingWageNow%20and%20%23GoTransparent.", target: "_twitter"}
              %img{ src: "/images/take_action/tweet-primark.png" }

        %p
          = t('visit_the_websites_of_our')




    = section :yellow do
      .middle-text
        %h3.red-head
          = t('support_garment_workers_through_covid_19')

        .black
          %p
            = t('sign_the_petition_asking_brands_to_pay_for_orders')
          %a.btn.btn-primary{ href: "https://cleanclothes.org/covid19-petition" }
            = t('sign_the_petition')

          %p
            = t('donate_to_our_emergency_relief_fund')
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="KN9SCNJEWD5EW" />
          <input type="hidden" name="lc" value="en_US">
          <input type="image" src="https://cleanclothes.org/image-repository/donate-fashionchecker.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_NL/i/scr/pixel.gif" width="1" height="1" />
          </form>


    = partial "partials/shared/footer"