%body
  = partial "partials/header"
  %main{:role => "main"}
    = banner "/images/transparency/top_banner.png", t('transparency_header')
    = section :white do
      .middle-text
        %h3
          = t('transparency_header')
        .lead
          = t('knowing_where_your_clothes_are_made')
        %p
          = t('transparency_in_production_supply_chains')
        .red-quote
          = t('transparency_needs_to_be_the_cornerstone')
          .citation
            = t('aruna_kashyap')
        %p
          = t('in_2016_nine_labor_and_human')
          %a{ href: "https://transparencypledge.org/about-us/" }
            = t('coalition')
          = t('to_advocate_for_transparency') + ' '
          %a{ href: "https://transparencypledge.org/what-is-the-transparency-pledge/" }><
            = t('transparency_pledge')
          = t('the_pledge_is_based_on_existing')

        %img{ src: "/images/transparency/hanger.png" }

        %p
          = t('there_has_been_an')
          %a{ href: "https://cleanclothes.org/news/2019/surge-in-garment-industry-transparency" }
            = t('encouraging_increase')
          = t('in_how_transparent_fashion_brands_are_on') + ' '
          %a{ href: "https://www.hrw.org/GoTransparent" }><
            = t('transparency_pledge')
          \.
          = " " + t('however_there_are_still_too_many_brands_that') + ' '
          %a{ href: "https://cleanclothes.org/campaigns/gotransparent" }<>
            = t('refuse_to_do_so')
          = t('and_even_the_most_progressive_brands')
        %p
          = t('what_are_they_hiding')

        =image_quote "/images/transparency/at_machines_bg.png",
                    t('we_never_saw_data_about_brands_payments_what_price'),
                    t('a_worker_from_croatia')

        %p
          = t('we_re_demanding_that_brands_do_better')

        %h3
          = t('going_beyond_the_pledge')
        %p
          = t('since_the_birth_of_the_pledge')

        %h4
          = t('the_bottom_of_the_supply_chain')
        %p
          = t('we_want_brands_to_ask_suppliers_where')

        %h4
          = t('worker_unions')
        %p
          = t('we_want_brands_to_ask_suppliers_if')

        %h4
          = t('readable_data')
        %p
          = t('we_want_brands_to_release_the_data') + " "
          %a{ href: "https://odsas.org/" }><
            = t('csv_or_json_data')
          \.

        %h4
          = t('transparency_for_the_consumer')
        %p
          = t('we_want_governments_to_increase')
          %a{ href: "https://ec.europa.eu/environment/ecolabel/" }
            = t('eu_ecolabel')
          = t('to_reflect_wage_abuses')

        %img{ src: "/images/transparency/labels.png" }

        %p
          = t('for_more_about_our') + " "
          %a{ href: "https://cleanclothes.org/campaigns/gotransparent" }><
            = t('transparency_campaign')
          \.

    = partial "partials/shared/footer"
