%body
  = partial "partials/header"
  %main{:role => "main"}
    = banner "/images/who_are_we/top_banner.png", t('who_are_we')
    = section :white do
      .middle-text
        %h3
          = t('who_are_we')
        .lead
          = t('clean_clothes_campaign_is_a_global_network')
        %p
          = t('since_1989_ccc_has_worked_to_ensure')
        %p
          = t('as_a_grassroots_network_of_hundreds')
        %p
          = t('all_workers_regardless_of_sex_age')

        .py-2
          %a.btn.btn-primary{ href: "https://cleanclothes.org/" }
            = t('visit_site')

    = section :navy do
      .d-flex.p-3
        .stack.stack-1
          %img{ src:"/images/who_are_we/clothes_in_fear.png" }
          %img{ src:"/images/who_are_we/green_backs.png" }
        .stack.stack-2
          %img{ src:"/images/who_are_we/speech.png" }
          %img{ src:"/images/who_are_we/letters.png" }
        .stack.stack-3
          %img{ src:"/images/who_are_we/flags.png" }
          %img{ src:"/images/who_are_we/sherlock.png" }

    = section "light-grey" do
      %h3.text-center
        = t('partners')
      .py-3.d-flex.partner-links.justify-content-between.align-items-center
        %a{ href: "https://decko.org" }
          %img{ src:"/images/who_are_we/decko.png" }
        %a{ href: "https://semcon.com" }
          %img{ src:"/images/who_are_we/semcon.png" }
        %a{ href: "https://wageindicator.org" }
          %img{ src:"/images/who_are_we/wage_indicator.png" }
        %a{ href: "https://wikirate.org" }
          %img{ src:"/images/who_are_we/wikirate.png" }

    = partial "partials/shared/footer"
