.row
  .col-sm-12
    .navy-bg.px-5.py-4.mt-4
      %h5.text-center
        = t('difference_question')

      = compare "Food", %i[rice], %i[fish rice apple banana]
      = compare "Housing", %i[double_bed wall], %i[single_bed screwer toilet cable ventilator]
      = compare "Health care", %i[pills], %i[menstrual_pad medicine soap ambulance]
      = compare "Education", %i[empty], %i[classroom]
      = compare "Clothing", %i[shoes tshirt], %i[shoes tshirt jacket]
      = compare "Transportation", %i[truck], %i[bus]
      = compare "Savings", %i[broken], %i[intact]
      %img{src: "images/living-wage.png", width: "500px"}
