
.commitmentScores
  %h6.section.card-title.text-uppercase= t('commitment_score.title')

  - %w[public_commitment action_plan freedom_of_association_n_bargaining].each do |commitment|
    .row{ class: "_#{commitment}" }
      .col-sm-7.left-col
        %a{ target: "_wikirate" }
          = t("commitment_score.#{commitment}")
      .col-sm-5.pr-0.text-right.pointer._help{"data-toggle":"modal"}
        %span._value
        %img.smiley._smiley
  .row
    .col-sm-12.pl-0
      = t('interested_in_more_information') + ' '
      = t('check_out') + ' '
      %a._wikirate-link{ target: "_wikirate" }><
        Wikirate
      \.
