%h6.section.card-title.text-uppercase= t('commitment_score.title')
//%p._commitment_score-templates
//= # score_desc "commitment_score.desc", 3
.row.border-top.py-2.commitment-scores
  .col-sm-6.pl-0.text-uppercase
    = t('commitment_score.public_commitment')
  .col-sm-6.pr-0.text-right.pointer._public-commitment-help{"data-toggle":"modal"}
    %span.value._public-commitment
    %img._public-commitment-smiley{src: "/images/smiley/No.png", height: "30px",}
.row.border-top.py-2.commitment-scores
  .col-sm-6.pl-0.text-uppercase
    = t('commitment_score.action_plan')
  .col-sm-6.pr-0.text-right.pointer._action-plan-help{"data-toggle":"modal"}
    %span.value._action-plan
    %img._action-plan-smiley{src: "/images/smiley/Yes.png", height: "30px"}
.row.border-top.py-2.commitment-scores
  .col-sm-6.pl-0.text-uppercase
    = t('commitment_score.separate_labor_costs')
  .col-sm-6.pr-0.text-right.pointer._isolating-labour-cost-help{"data-toggle":"modal"}
    %span.value._isolating-labour-cost
    %img._isolating-labour-cost-smiley{src: "/images/smiley/Yes.png", height: "30px"}
.row.border-top.py-2.tiny.commitment-scores
  .col-sm-12.pl-0
    = t('interested_in_more_information') + ' '
    = t('check_out') + ' '
    %a._wikirate-link{ target: "_wikirate" }><
      WikiRate
    \.