%a.white{ target: "_wikirate",
          href: "https://wikirate.org/Clean_Clothes_Campaign+Supply_Chain_Transparency_Score"}
  %h6.section.card-title.text-uppercase= t('transparency_score.title')
  = partial "partials/brand_profile/score/transparency_stars.html"
%p._transparency_score-templates
  %p._transparency_key
  // %span._name
  // = score_desc "transparency_score.desc", 5
%p.tiny
  %a{href: "transparency.html"}
    = t('transparency_score.read_more')
  = t('transparency_score.about_why_transparency_is_important') + '.'
  %br
  %a{href: "https://wikirate.org/Clean_Clothes_Campaign+Supply_Chain_Transparency_Score",
     target: "_wikirate"}
    = t('transparency_score.read_more')
  = t('transparency_score.about_how_this_score_was_calculated') + '.'
