%h6.section.card-title.text-uppercase= t('transparency_score.title')
.transparency-stars._transparency-stars
  %img._star-1{ src: "/images/transparency_score/star_outline.svg" }
  %img._star-2{ src: "/images/transparency_score/star_outline.svg" }
  %img._star-3{ src: "/images/transparency_score/star_outline.svg" }
  %img._star-4{ src: "/images/transparency_score/star_outline.svg" }
  %img._star-5{ src: "/images/transparency_score/star_outline.svg" }
%p._transparency_score-templates
  %p._transparency_score-text
  // %span._name
  // = score_desc "transparency_score.desc", 5
%p.tiny
  %a{href: "transparency.html"}
    = t('transparency_score.read_more')
  = t('transparency_score.about_why_transparency_is_important') + '.'
  %br
  %a{href: "https://wikirate.org/Clean_Clothes_Campaign+Supply_Chain_Transparency_Score",
     target: "_wikirate"}
    = t('transparency_score.read_more')
  = t('transparency_score.about_how_this_score_was_calculated') + '.'