%h6.section.card-title.text-uppercase= t('transparency_score.title')
%p
  %img._transparency-score{src: "/images/transparency_score/0.0.png", width: "200px"}
%p._transparency_score-templates
  %p._transparency_score-text
  // %span._name
  // = score_desc "transparency_score.desc", 5
%p.tiny
  %a{href: "transparency.html"}
    = t('transparency_score.read_more')
  = t('transparency_score.about_why_transparency_is_important') + '.'
  %br
  %a{href: "https://wikirate.org/Clean_Clothes_Campaign+Supply_Chain_Transparency_Score",
     target: "_wikirate"}
    = t('transparency_score.read_more')
  = t('transparency_score.about_how_this_score_was_calculated') + '.'