= section :grey do
  .row.text-center
    .col-sm-12
      .span.display-3.fuchsia
        = t('latest')
      .span.display-3
        = t('news')

  .row
    .col-sm-4
      .card
        %img.card-img-top{src: "/images/articles/a1.png"}
        .card-body
          %h5.card-title Article
          %p.card-text= article 1
    .col-sm-4
      .card
        %img.card-img-top{src: "/images/articles/a1.png"}
        .card-body
          %h5.card-title Article
          %p.card-text= article 2
    .col-sm-4
      .card
        %img.card-img-top{src: "/images/articles/a1.png"}
        .card-body
          %h5.card-title Article
          %p.card-text= article 3