.row
  .col-sm-12
    .navy-bg.px-5.py-4.mt-4
      .row
        .col-sm-12
          %h5.text-center
            = t('difference_question')
      .row.d-none.d-md-flex
        .col-md-6.text-center
          %h6
            = t('minimum_wage')
        .col-md-6.text-center
          %h6
            = t('living_wage')
      = compare t('food'), %i[rice], %i[fish rice apple banana]
      = compare t('housing'), %i[double_bed wall], %i[single_bed screwer toilet cable ventilator]
      = compare t('health_care'), %i[pills], %i[menstrual_pad medicine soap ambulance]
      = compare t('education'), %i[empty], %i[classroom]
      = compare t('clothing'), %i[shoes tshirt], %i[shoes tshirt jacket]
      = compare t('transportation'), %i[truck], %i[bus]
      = compare t('savings'), %i[broken], %i[intact]
