%script
  - toTranslate = { dataTables: %i[search lengthMenu info],
                    supplier_map_viz: %i[legend_title tooltip_suppliers],
                    suppliers_table: %i[female male other migrant nonmigrant paid not_paid] }
  FC.lang = {
  - toTranslate.each do |group, fields|
    = "'#{group}': {"
    - fields.each do |key|
      - value = t "#{group}.#{key}"
      = "#{key}: '#{value}',"
    },
  }
  = "FC.lang.noData = '#{t :no_data}'"
