-#%h5.font-weight-light.pb-2._result-header Result

#result
.template._brand-item
  = partial :section, locals: { color: "navy-bg" } do
    .row.brand
      .col-sm-6
        %a.h1.white.font-weight-normal{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "replaced_by_js", :role => "tab"}
          %span#title.text-white
        %div.pt-4
          %img{src: "images/smiley_red.png", width: "100px"}
      .col-sm-6
        .row.mx-0.py-2
          .col-sm-4.pl-0 Owned by:
          .col-sm-8.pr-0
            %span._owned_by
        = partial :property, locals: { title: "Headquarters", name: :location}
        .row.border-top.mx-0.py-2
          .col-sm-4.pl-0
            Other brands owned by
            %span._owned_by
            = ":"
          .col-sm-8.pr-0#brands.list-unstyled
        = partial :property, locals: { title: "Number of workers", name: :number_of_workers }
        = partial :property, locals: { title: "Revenue", name: :revenue }
        = partial :property, locals: { title: "Profit", name: :profit }
        = partial :property, locals: { title: "Top 3 Production countries", name: :top_production_countries }
    .row.brand.mx-0.mt-3
      .col-sm-6.section.pl-0
        %h6.text-uppercase Living Wage Score
        %img._living-wage-score{src: "images/wage_score/E.png", width: "200px"}
      .col-sm-6.section.pr-0
        %h3.pink.card-text
        %span._living_wage_text
          The company claims that is has started contributing
          towards a living wage by paying higher costs to all
          factories in its supply chain.
    .row.brand.mx-0.mt-3
      .col-sm-6.pl-0
        %h6.section.card-title.text-uppercase Transparency Score
        %p
          %img._transparency-score{src: "images/transparency_score/0.0.png", width: "200px"}
        %p.tiny
          %a{href: "#"}
            What does this mean?

        %p
          Zara provides information beyond the basics. The brand published more information.

        %p.tiny
          %a{href: "#"}
            Read more
          about why transparency is important
          %br
          %a{href: "#"}
            Read more
          about how this score was calculated

      .col-sm-6.pr-0
        %h6.section.card-title.text-uppercase Commitment Score
        %p
          This brand isn't doing enough to move towards Living Wages
          in its supply chain.
        .row.border-top.mx-0.py-2
          .col-sm-6.pl-0
            PUBLIC COMMITMENT?
          .col-sm-6.pr-0.text-right
            %span.value._public-commitment
            %img._public-commitment-smiley{src: "images/smiley/No.png", height: "30px"}
        .row.border-top.mx-0.py-2
          .col-sm-6.pl-0
            ACTION PLAN?
          .col-sm-6.pr-0.text-right
            %span.value._action-plan
            %img._action-plan-smiley{src: "images/smiley/Yes.png", height: "30px"}
        .row.border-top.mx-0.py-2
          .col-sm-6.pl-0
            SEPARATE LABOR COSTS?
          .col-sm-6.pr-0.text-right
            %span.value._isolating-labour-costs
            %img._isolating-labour-costs-smiley{src: "images/smiley/Yes.png", height: "30px"}
        .row.border-top.mx-0.py-2.tiny
          .col-sm-12.pl-0
            Interested in more information?
            Check out
            %a#wikirate-link
              WikiRate

  .container-fluid
    .container
      .row.mt-4
        .col-sm-12.text-center
          %h4
            Explore supply chain
          %span.float-right.tiny
            Sourcing from factories
            (
            %span#factory-count 0
            found)
          .table-responsive
            %table.table.text-dark.table-sm.light-blue-bg.tiny
              %thead
                %tr.white-bg.table-borderless.text-center.border-bottom-0
                  %th.border-bottom-0.blue-bg
                  %th.border-bottom-0{colspan: 2} NUMBER OF WORKERS
                  %th.border-bottom-0{colspan: 2} WAGE
                  %th.border-bottom-0{colspan: 3} WORKERS
                %tr.light-blue-bg.border-top-0.table-bordered
                  %td.medium-blue-bg.table-borderless COMPANY
                  %td Female/Male/Other
                  %td Permanent/ Temporary
                  %td.other-blue-bg average
                  %td.other-blue-bg gap
                  %td have cba
                  %td know brand
                  %td  get pregnancy leave
              %tbody
