%body
  = partial :header
  %main.brand{:role => "main"}
    = partial :section, locals: { color: "red-bg"} do
      .row.text-center
        .col-sm-12.w-75
          .span.display-3.yellow
            Explore
          .span.display-3.pink
            The Data
          %p.lead.pt-3
            Are the people who make your clothes
            paid enough to live on?
          %p
            Find out which apparel and footwear brands
            pay their workers a Living Wage.

          = partial :search, locals: { id: "brand-select" }
    = partial :section, locals: { color: "blue-bg"} do
      = partial :result

  %footer.text-muted
    .container


