%body
  %main{:role => "main"}
    = section :red do
      .display-3
        .white
          = t('fashion')
        .yellow
          = t('checker')

    = section :pink do
      .display-3
        .py-5.fushia
          = t('coming_soon')