%body
  = partial "partials/header"
  %main{:role => "main"}
    = section :red do
      .row
        .col-sm-6
          .span.display-4.text-white
            Are the people who make your clothes
          .span.display-4.yellow
            paid enough to live on?
          %p.pt-3
            Find out which apparel and footwear
            brands pay their workers a Living Wage.
          = brand_profile_partial :search,  locals: { id: "brand-redirect" }
        .col-sm-6
          %img.float-right{src: "images/logo/SVG/CCC_FashionChecker_RGB_vertical_spot.svg",
               height: "300px", width: "auto"}

    = section :yellow do
      .container.navy-bg.p-4
        .row
          .col-sm-6
            %h2 Zara
          .col-sm-6.text-right
            %div
              %img{src: "images/smiley_red.png", width: "70px"}
        .row.brand.mx-0.mt-3.navy-bg
          = brand_profile_partial "score/living_wage"

    = section :pink do
      .row
        .col-sm-6
          .span.display-3.fushia
            Living Wages
          .span.display-3.red
            Not poverty wages
        .col-sm-6
          %p.red.lead
            The majority of garment workers are unable to afford life's basic
            necessities. Fair pay for labour is a fundamental human right
            but none of the biggest fashion brands pay garment workers a wage
            they can live on.
          %a.btn.btn-primary.btn-sm{href: "#"}
            Read more about living wages.
      .row
        .col-sm-12
          .navy-bg.px-5.py-4.mt-4
            %h5.text-center What difference does it make to be earning a living wage instead of a minimum wage?
            %img{src: "images/living-wage.png", width: "500px"}

    = section :yellow do
      .row
        .col-sm-6
          .span.display-3.red
            End
          .span.display-3.fushia
            Gendered Pay
        .col-sm-6
          %p.red.lead
            The majority of garment workers are unable to afford life's basic
            necessities. Fair pay for labour is a fundamental human right
            but none of the biggest fashion brands pay garment workers a wage
            they can live on.
          %a.btn.btn-primary.btn-sm{href: "#"}
            Gender
    = section :red do
      .row
        .col-sm-6
          .span.display-3
            Resilience
          .span.display-3.yellow
            In the face of a crisis
        .col-sm-6
          %p.lead
            The majority of garment workers are unable to afford life's basic
            necessities. Fair pay for labour is a fundamental human right
            but none of the biggest fashion brands pay garment workers a wage
            they can live on.
          %a.btn.btn-primary.btn-sm{href: "#"}
            Our Demands
    = section :navy do
      .row
        .col-sm-12
          %h6
            Your voice has power
          %p
            Your support makes our work possible.
            It's time brands take responsibility for
            the lives of the people who make our clothes.
            As consumers, we have power. When we speak,
            brands listen. Ask brands to pay a&nbsp;
            %span.fushia<> #LivingWageNow
            , to ensure your clothes are no longer made with
            exploitation.
          %a.btn.btn-primary.btn-sm{href: "#"}
            Take Action
    = partial "partials/homepage/news"

  = partial "partials/homepage/footer"


