%body
  = partial "partials/header"
  %main{:role => "main"}
    = section :red do
      .row
        .col-sm-6
          .span.display-4.text-white
            = t('header_question_1')
          .span.display-4.yellow
            = t('header_question_2')
          %p.pt-3.white
            = t('find_out')
          = brand_profile_partial :search,  locals: { redirect: true }
        .col-sm-6
          %img.float-right{src: "images/logo/SVG/CCC_FashionChecker_RGB_vertical_spot.svg",
               height: "300px", width: "auto"}

    = section :yellow do
      .container.navy-bg.p-4
        .row
          .col-sm-6
            %h2 Zara
          .col-sm-6.text-right
            %div
              %img{src: "images/smiley_red.png", width: "70px"}
        .row.brand.mx-0.mt-3.navy-bg
          = brand_profile_partial "score/living_wage"

    = section :pink do
      .row
        .col-sm-6
          .span.display-3.fushia
            = t('living_wages')
          .span.display-3.red
            = t('not_poverty_wages')
        .col-sm-6
          %p.red.lead
            = t('living_wages_info')
          %a.btn.btn-primary.btn-sm{href: "#"}
            = t('read_more_living_wages')
        = partial "partials/shared/living_wage_table"

    = section :yellow do
      .row
        .col-sm-6
          .span.display-3.red
            = t('end')
          .span.display-3.fushia
            = t('gendered_pay')
        .col-sm-6
          %p.red.lead
            = t('gendered_pay_info')
          %a.btn.btn-primary.btn-sm{href: "#"}
            = t('gender')
    = section :red do
      .row
        .col-sm-6
          .span.display-3.white
            = t('resilience')
          .span.display-3.yellow
            = t('in_the_face_of_a_crisis')
        .col-sm-6.white
          %p.lead
            = t('resilience_info')
          %a.btn.btn-primary.btn-sm{href: "#"}
            = t('our_demands')
    = section :navy do
      .row
        .col-sm-12
          %h6
            = t('your_voice_has_power')
          %p
            = t('your_voice_info_1')
            &nbsp;
            %span.fushia<> #LivingWageNow
            = t('your_voice_info_2')
          %a.btn.btn-primary.btn-sm{href: "#"}
            = t('take_action')
    = partial "partials/homepage/news"

  = partial "partials/shared/footer"


