%body
  = partial "partials/header"
  %main{:role => "main"}
    .container
      .top-banner
        .top-banner-image
          %img{ src: "/images/living_wage/top_banner.png" }
        .top-banner-text.display-4
          = t('what_is_a_living_wage')
    = section :white do
      .middle-text
        %h3
          = t('what_is_a_living_wage')
        .lead
          = t('a_living_wage_recognized_by_the_un_as_a_right')
        %p
          = t('it_should_be_earned_in_a_standard_work_week')

      = partial "partials/shared/living_wage_table"

      .middle-text.pt-5
        %h3
          = t('why_the_minimum_wage_is_not_enough')
        %p
          = t('legal_minimum_wages_in_garment_producing')

        .red-quote
          = t('i_became_the_backbone')
          .citation
            = t('a_worker_from_indonesia')

        %p
          = t('there_are_a_number_of_countries')

        .text-on-image.stomach_problems_bg
          // %img{ src: "/images/living_wage/stomach_problems_bg.png"}
          .quote-on-image
            = t('i_have_problems_with_my_stomach')
            .citation
              = t('a_worker_from_croatia')

        %h3
          = t('living_wage_benchmarks')

        %p
          = t('calculating_a_living_wage_is_not_easy')

        %ul
          %li
            = t('transparent_in_method_and_conclusion')
          %li
            = t('revised_on_a_regular_basis')
          %li
            = t('established_in_negotiation')
          %li
            = t('enough_to_cover_the_full_basic_needs')
          %li
            = t('a_living_wage_benchmark_should_put_a_floor')

        %p
          = t('asia_floor_wage_alliance')

        %h3
          = t('savings_and_survival')

        %p
          = t('on_their_current_wages_garment_workers')

        .red-quote
          = t('sometimes_i_have_to_take_painkillers')
          .citation
            = t('a_worker_from_croatia')

        %p
          = t('life_is_full_of_the_unexpected')

        %p
          = t('not_only_have_brands_been_refusing')
          %a{ href: "https://www.ft.com/content/e9a81f3b-4b5f-41e8-8b48-01b469848877" }
            = t('massive_damage')
          = t('to_their_livelihood')

        .red-quote
          = t('trade_unions_worry')
          .citation
            = t('the_emperor_has_no_clothes')

        %p
          = t('all_actors_in_fashion_now_understand')
        %p
          = t('for_more_information_on')
          %a{ href: "#" }
            = t('covid_19')
          \.

        %h3
          = t('brand_responsibility')

        %p
          = t('brands_put_forward_all_kinds_of_excuses')
        %p
          = t('the')
          %a{ href: "https://www.ohchr.org/Documents/Publications/GuidingPrinciplesBusinessHR_EN.pdf" }
            = t('un_guiding_principles_on_business_and_human_rights')
          = t('un_guiding_principles_clearly_states')

        %p
          = t('the_un_guiding_principles_three_pillars')
          %ol
            %li
              = t('the_state_duty_to_protect_human_rights')
            %li
              = t('the_corporate_responsibility_to_respect_human_righ')
            %li
              = t('access_to_remedy')

        %p
          = t('this_establishes_a_principle_of_shared_responsibil')

        %p
          = t('the_framework_also_clearly_states_that')

        .red-quote
          = t('the_workers_wages_have_been_regularly_delayed')
          .citation
            = t('a_worker_from_ukraine')

        %p
          = t('the_un_guiding_principles_establish')

        %h3
          = t('why_do_we_talk_about_paying_factories_not_workers')

        %p
          = t('brands_do_not_pay_workers_directly')
        %p
          = t('suppliers_are_forced_to_estimate_the_lowest')

        .red-quote
          = t('my_job_is_exhausting')
          .citation
            = t('a_worker_from_ukraine')

        %p
          = t('current_purchasing_practices_reflect_the_rise_of_f')

        .text-on-image.no_pay_slip_bg
          .quote-on-image
            = t('my_factory_doesn_t_give_me_a_pay_slip')
            .citation
              = t('a_worker_from_india')

        %p
          = t('brands_need_to_take_responsibility_to_modify')

        %h5
          = t('unions_and_worker_committees')

        %p
          = t('workers_have_little_to_no_power_to_fight')

        .red-quote
          = t('trucks_are_constantly_leaving')
          .citation
            = t('a_worker_in_croatia')

        %p
          = t('instead_of_promoting_fair_worker_representation')

        .red-quote
          = t('we_are_never_allowed_to_go_home')
          .citation
            = t('a_worker_from_indonesia')

        %p
          = t('we_want_brands_to_do_more_to_support')

        %p
          = t('read_more_about')
          %a{ href: "#" }
            = t('foa')
          \.

    = partial "partials/shared/footer"